<ion-view view-title="숙소목록">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="house in houselist track by $index " class="item-thumbnail-left" href="#/app/housedetail/{{house.id}}">
          <img ng-src="http://ionicframework.com/img/docs/license-to-ill.jpg">
          <h2>{{house.properties.title}}</h2>
          <p>{{house.id}} {{house.properties.address}}</p>
      </ion-item>
    </ion-list>

  <ion-infinite-scroll
    on-infinite="loadMore()"
    distance="1%">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>
