<ion-view view-title="Houselist">
  <ion-content>
    <div class="item item-avatar">
      <img src="http://m1.daumcdn.net/cfile235/R400x0/223CD0455460B65625723E">
      <h2>{{house.properties.title}}</h2>
      <p>{{house.properties.phone}}</p>
    </div>

    <div class="item item-body">
      <img class="full-image" src="http://cfile138.uf.daum.net/image/1302583F4EC0CDCD3C5693">
      <p>
해변 바위·방파제 위에서 하는 낚시는 성에 차지 않고, 보트를 빌려 먼바다로 나가기도 여의치 않을 때 카약낚시는 어떨까. 제주의 푸른 바다 위에서 작은 카약을 띄워놓고 즐기는 낚시는 생각만 해도 근사하다. 카약을 타는 재미도 그만이고, 뭍에서보다 훨씬 더 다양한 어종을 만날 수 있다. 입질이 시원찮으면 노를 저어 다른 곳으로 이동하면 된다. 양쪽에 날이 달린 노를 사용하는 카약은 빠른 속도를 낼 수 있다. 입질이 없어 따분해지면 두둥실 바다 위에 떠있는 카약 위에 누워 보자. 이 순간 강태공은 하늘과 바다와 하나가 된다. 장비는 카약을 포인트에 세워두기 위한 앵커와 낚시 채비가 전부다. 카약 조종이 능숙하지 않으면 여러 사람과 함께 나가는 게 좋고, 먼바다로 나가서는 안 된다. 바람이 세찰 때는 출조를 하지 않는 게 좋다.
</p>
      <p>
        <a href="#" class="subdued">1 Like</a>
        <a href="#" class="subdued">5 Comments</a>
      </p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="button" href="#/app/inquiry">
        요청하기
      </a>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <a class="title button button-clear" href="#/app/inquiry/{{house.id}}">문의하기 </a>
  </div>
</ion-view>
