<ion-view view-title="세부정보" cache-view=false>
  <ion-content>
    <div class="item item-avatar">
      <img src="http://m1.daumcdn.net/cfile235/R400x0/223CD0455460B65625723E">
      <h2>{{house.properties.title}}</h2>
      <p>{{house.properties.address}}</p>
    </div>

    <div class="item item-body">
      <img ng-if = "house.properties.imageurl==''" class="full-image" ng-src="http://ionicframework.com/img/docs/license-to-ill.jpg">
      <img ng-if = "house.properties.imageurl" class="full-image" ng-src="{{house.properties.imageurl}}">
    </div>

    <a class="button button-block" href="#/app/inquiry/{{house.id}}">문의하기 </a>

    <ion-list>
      <div class="item item-divider">
        다음 후기
      </div>
      <ion-item ng-repeat="item in comments"  class="item-text-wrap">
        <span class="badge badge-assertive"></span>
        <span class="item-note">
          {{item.time}}
        </span>
        <h2>{{item.name}}</h2>
        <p>{{item.msg}}</p>
        <ion-option-button class="button-positive"
                           ng-click="share(item)">
          Share
        </ion-option-button>

      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
