<ion-view view-title="문의하기">
  <ion-content>
    <h2>함덕제주카약게스트하우스</h2>
    <form ng-submit="inquery_submit()" ng-controller="InqueryCtrl">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">이름</span>
        <input type="text" ng-model="username" placeholder="홍길동">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">날짜</span>
        <input type="text" ng-model="day" placeholder="2015/2/23">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label" >남</span>
        <input type="text" ng-model="num_men" placeholder="10">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label" >여</span>
        <input type="text" ng-model="num_women" placeholder="10">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label" >어린이</span>
        <input type="text" ng-model="num_children" placeholder="10">
      </label>

      <input class="button button-block" type="submit" id="submit" value="전송" />
    </div>

    </form>

  </ion-content>

</ion-view>
