<ion-view view-title="문의하기">
  <ion-content>
    <h2>함덕제주카약게스트하우스</h2>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">이름</span>
        <input type="text" placeholder="홍길동">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">날짜</span>
        <input type="text" placeholder="2015/2/23">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">인원</span>
        <input type="text" placeholder="10">
      </label>
    </div>

  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <a class="title button button-clear" href="#/app/inquiry">전송</a>
  </div>

</ion-view>
