<ion-view view-title="문의하기">
  <ion-content>
    <span>
    <h4><p><b>{{house.properties.title}}</b></p></h4>
    </span>
    <form name="inquerymessage" ng-submit="inquery_submit()" ng-controller="InqueryCtrl">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">이름</span>
        <input type="text" required ng-model="username" placeholder="수지">
      </label>

      <label class="item item-input ">
        <span class="input-label">전화번호</span>
        <input type="tel" ng-minlength=5 ng-model="telephone" placeholder="00000000000">
      </label>

      <label class="item item-input">
        <span class="input-label">날짜</span>
        <input type="date" required ng-model="day" placeholder="1999-01-01">
      </label>
      <label class="item item-input">
        <span class="input-label">기간(일)</span>
        <input type="number" ng-model="period" placeholder="1" value="1">
      </label>
      <label class="item item-input">
        <span class="input-label" >남</span>
        <input type="number" ng-model="num_men" placeholder="10">
      </label>
      <label class="item item-input">
        <span class="input-label" >여</span>
        <input type="number" ng-model="num_women" placeholder="10">
      </label>
      <label class="item item-input">
        <span class="input-label" >어린이</span>
        <input type="number" ng-model="num_children" placeholder="10">
      </label>
        <input type="submit" class="button button-block" ng-disabled="!inquerymessage.$valid" value="전송">
      </label>
    </div>

    </form>

  </ion-content>

</ion-view>
